{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Post Detail</title>
{% endblock meta %}

{% block content %}

<main class="mx-auto mt-[15vh] mb-[8vh] min-h-[calc(60vh-4rem)] max-w-[160vh]">

    <!-- Tech Form Start -->
    <section>
        <div class="m-6 p-4 lg:p-8 rounded-xl bg-charcoal-700">
            <input type="text" name="current_login_id" id="current_login_id" value={{ user.pk }} class="hidden">
            <h2 class="text-2xl text-center font-bold text-white">{{ post.title }}</h2>
            <h2 class="text-base text-center font-semibold text-white mb-4">Posted by <span class="text-blue-500">
                    @{{ post.user }}</span></h2>
            <p class="text-justify text-gray-400 mb-4">{{ post.description }}</p>
            <div class="flex items-center gap-3">
                <div class="flex-1 min-w-0">
                    <h2 class="text-gray-500 ">Published on {{ post.date }}</h2>
                </div>
                <div class="inline-flex items-center text-base p-2 rounded-full bg-charcoal-800">
                    <button type="button" id="like-button">
                        <div class="flex flex-row justify-center items-center gap-1">
                            <h2 id="likes-container" class="text-blue-500 mx-2 text-lg font-semibold">{{
                                post.likes.count }}</h2>
                            <div id="svg-love-container" class="mx-2">

                            </div>
                    </button>
                </div>
            </div>
            <a href="/../post-tech/" class="my-2 flex justify-center text-sm text-blue-500">Explore Other Post</a>
        </div>
        </div>
    </section>

    <section>
        <div class="m-6 p-4 lg:p-8 rounded-xl bg-charcoal-700">
            <form method="POST" action="">
                {% csrf_token %}
                <div class="mb-6">
                    <input type="text" name="post_id" id="post_id" value={{ post.id }} class="hidden">
                </div>
                <div id="comment-container">
                </div>
                <div class="mb-6">
                    <label for="comment" class="block my-2 text-lg font-medium text-white">
                        Comment
                    </label>
                    <textarea id="comment" name="comment" rows="4"
                        class="block p-2.5 w-full text-sm rounded-lg border  bg-charcoal-800 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                        placeholder="What do you think..." required></textarea>
                </div>
                <button id="button-submit-post-comment" type="submit" value="Submit"
                    class="mt-2 w-full bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Post Comment !
                </button>
            </form>
        </div>
    </section>
    <!-- Tech Form End -->

</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% block script %}
<script type="text/javascript" src="{% static 'js/post_detail_index.js' %}"></script>
{% endblock %}

{% endblock content %}