{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Post Detail</title>
{% endblock meta %}

{% block content %}

<main class="mx-auto mt-[15vh] mb-[8vh] min-h-[calc(60vh-4rem)] max-w-[160vh]">

    <!-- Tech Form Start -->
    <section>
        <div class="mx-auto max-w-[1028px] text-center">
            <h5 class="mb-2 text-2x font-bold text-white">{{ post.title }}</h5>
            <p class="my-4 mx-16 font-normal text-gray-400">
                {{ post.description }}
            </p>
        </div>
    </section>

    <section>
        <div class="m-6 p-4 lg:p-12 rounded-xl bg-charcoal-700">
            <form method="POST" action="">
                {% csrf_token %}
                <div class="mb-6">
                    <input type="text" name="postid" id="postid" value={{ post.id }} class="hidden">
                </div>
                <div class="mb-6">
                    <label for="comment" class="block mb-2 text-sm font-medium text-white">
                        What Would You Wanna Share Today
                    </label>
                    <textarea id="comment" name="comment" rows="4"
                        class="block p-2.5 w-full text-sm rounded-lg border  bg-charcoal-800 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                        placeholder="Tell us what are those..." required=""></textarea>

                </div>
                <button id="button-submit-post-comment" type="submit" value="Submit"
                    class="mt-4 w-full bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Post Comment !
                </button>
            </form>
        </div>
    </section>
    <!-- Tech Form End -->

</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    function userPostComment() {
        $.post(
            {
                url: 'add-post-comment/',
                data: {
                    'postid': $('#postid'),
                    'comment': $('#comment')
                },
                error: console.log('err')
            }
        )
    }

    $('#button-submit-post-comment').attr(
        'onclick',
        `userPostComment`   
    )
</script>

{% endblock content %}