{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Post Tech</title>
{% endblock meta %}

{% load filters %}

{% block content %}

<main class="mx-auto mt-[10vh] mb-[10vh] min-h-[calc(60vh-4rem)] max-w-[160vh]">
    <!-- Header Start -->
    <section id="post-header" class="mb-6">
        <div class="flex flex-col items-center">
            <h2 class="text-5xl font-bold text-center text-white pt-12 mx-8">“It's not a faith in technology. It's faith
                in
                people.”</h2>
            <div class="flex items-center space-x-4 pt-4">
                <img class="w-12 h-12 rounded-full"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtv7xMjq3sUsAHQvYlio7pd5YbFnuKTOnb4sSkhH4&s"
                    alt="">
                <div class="font-medium dark:text-white">
                    <div>Steve Jobs</div>
                    <div class="text-sm text text-gray-400">Co-founder of Apple.</div>
                </div>
            </div>
            <p class="pt-4 text-center mx-8 text-gray-400">
                Ngetech percaya bahwa, <span class="italic">"teknologi paling canggih di dunia adalah teknologi yang
                    dapat digunakan oleh semua
                    kalangan masyarakat tanpa memandang segi perspektif apapun"
                </span>. Perubahan zaman yang pesat membuat berbagai aksi atau aktivitas manusia seperti bekerja,
                berkomunikasi, berkreasi, bahkan mencari hiburan
                tidak terlepas dari penggunaan serta penerapan teknologi. Pesatnya digitalisasi dunia yang terdistrupsi
                dengan hadirnya berbagai macam teknologi, menyadarkan kami bahwa masih terdapat gap pada aksesibilitas
                teknologi di masyarakat. Hal tersebut, mendesak Ngetech untuk tidak mendesain produk untuk kalangan
                orang tertentu. Untuk itu, Ngetech menghadirkan anda sebuah fitur serta platform untuk setiap komunitas
                untuk berkreasi dan berkolaborasi.
            </p>
            <a href="{% url 'main:login' %}" class="{% if user.is_authenticated %} hidden {% endif %}">
                <button type="button" id="unauthenticated-user-button"
                    class=" text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 font-medium rounded-lg text-base px-8 py-2 my-4 mr-2 focus:ring-blue-800">
                    Shares Your Experience With Us
                </button>
            </a>
            <button type="button" id="open-post-tech-modal-button"
                class="{% if not user.is_authenticated %} hidden {% endif %} text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 font-medium rounded-lg text-base px-8 py-2 my-4 mr-2 focus:ring-blue-800">
                Shares Your Experience With Us
            </button>
        </div>
    </section>
    <!-- Header End -->

    <!-- Users Post Start -->
    <section id="users-post" class="mx-4">
        <div class="relative {% if not user.is_authenticated  %} h-[50vh] overflow-hidden rounded-xl {% endif %}">
            <div id="post-tech-container"
                class="relative columns-1 md:columns-2 lg:columns-2 content-center gap-4 space-y-8{% if not user.is_authenticated  %} blur-sm {% endif %}">
            </div>
            {% if not user.is_authenticated %}
            <div
                class="inset-x-0 bottom-0 flex justify-center bg-gradient-to-t pt-32 pb-8 pointer-events-none from-gray-800 absolute">
            </div>
            <div
                class="flex flex-col gap-2 top-0 lg:bottom-0 lg:top-auto h-full lg:h-auto mb-6 absolute w-full justify-center items-center md:text-xl">
                <a href="{% url 'main:login' %}">
                    <button type="button"
                        class="text-white bg-blue-500 px-8 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-md text-sm py-2 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Show More...
                    </button>
                </a>
            </div>
            {% endif %}
        </div>
    </section>
    <!-- Users Post End -->
</main>

<!-- Modal Start -->
<section id="post-tech-modal" class="hidden fixed top-0 left-0 h-screen w-screen bg-black bg-opacity-50 z-[1000] ">
    <section class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-2/3 max-h-[100vh] z-[1000]">
        <div class="p-4 lg:p-8 rounded-xl bg-charcoal-700 sm:w-full">
            <form method="POST" action="">
                {% csrf_token %}
                <div class="mb-6">
                    <div class="flex justify-between">
                        <label for="Title" class="block mb-2 text-sm font-medium text-white">
                            Post Title
                        </label>
                        <Button id="close-post-tech-modal-button" class="text-white font-semibold text-xl mr-1 mb-1">
                            &times
                        </Button>
                    </div>
                    {{ form.title|addclass:"bg-charcoal-800 border border-gray-300 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" }}
                </div>
                <div class="mb-2">
                    <label for="description" class="block mb-2 text-sm font-medium text-white">
                        What Would You Wanna Share Today
                    </label>
                    {{ form.description|addclass:"block p-2.5 w-full text-sm rounded-lg border  bg-charcoal-800 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500" }}
                </div>
                <button id="button-submit-post-tech" type="submit" value="Submit"
                    class="mt-4 w-full bg-blue-600 hover:bg-blue-700 text-white font-bold text-sm py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Go Public!
                </button>
            </form>
        </div>
    </section>
</section>
<!-- Modal End -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% block script %}
<script type="text/javascript" src="{% static 'js/post-tech-index.js' %}"></script>
{% endblock %}
{% endblock content %}