{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Top 5 Post</title>
{% endblock meta %}

{% block content %}

<main class="mx-auto mt-[10vh] mb-[10vh] min-h-[calc(60vh-4rem)] max-w-[160vh]">

    <!-- Features Section Start -->
    <section id="features" class="py-8">
        <div class="py-2 md:py-8 pb-10 flex flex-col items-center justify-center">
            <h1 class="text-4xl font-bold text-blue-600">Top 5 Post</h1>
            <h1 class="mt-2 text-sm font-semibold text-center text-gray-400">Kami menawarkan anda 5 informasi terhangat mengenai teknologi yang sedang <span
                class="italic">demanding</span> di masa kini</h1>
            <div class="my-8 grid grid-cols-1 md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-1 gap-8 group" id="post-container">
            </div>
        </div>
    </section>

</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    function getTop5() {
        $.get(
            './top-post-json',
            (res) => {
                $('#post-container').empty();
                if(res.length >= 5) {
                    for (let i = 0; i < 5; i++) {
                        let dateObj = new Date(res[i].fields.date);
                        let date = dateObj.toString().slice(0, 16)
                        console.log();
                        $('#post-container').append(
                            `<div
                            class="flex flex-wrap flex-col p-6 w-80 bg-charcoal-800 rounded-lg group-hover:blur-sm hover:!blur-none group-hover:scale-[0.85] hover:!scale-100 duration-300 cursor-pointer shadow-md">
                                <div class="flex-wrap justify-start items-start">
                                    <h2 class="text-gray-400 font-bold text-4xl mb-2">#${i+1}</h2>
                                    <h5 class="mb-2 text-3xl font-semibold tracking-tight text-white">${res[i].fields.title}</h5>
                                </div>
                                <div class="flex flex-wrap mt-auto gap-8">
                                    <a href="../post-detail/user-post-detail/${res[i].pk}" class="inline-flex items-center text-blue-600 hover:underline">Show article...</a>
                                </div>
                            </div>`
                        );
                    }
                }
                else {
                    for (let i = 0; i < res.length; i++) {
                        let dateObj = new Date(res[i].fields.date);
                        let date = dateObj.toString().slice(0, 16)
                        console.log();
                        $('#post-container').append(
                            `<div
                            class="flex flex-wrap flex-col p-6 w-80 bg-charcoal-800 rounded-lg group-hover:blur-sm hover:!blur-none group-hover:scale-[0.85] hover:!scale-100 duration-300 cursor-pointer shadow-md">
                                <div class="flex-wrap justify-start items-start">
                                    <h2 class="text-gray-400 font-bold text-4xl mb-2">#${i+1}</h2>
                                    <h5 class="mb-2 text-3xl font-semibold tracking-tight text-white">${res[i].fields.title}</h5>
                                </div>
                                <div class="flex flex-wrap mt-auto gap-8">
                                    <a href="../post-detail/user-post-detail/${res[i].pk}" class="inline-flex items-center text-blue-600 hover:underline">Show article...</a>
                                </div>
                            </div>`
                        );
                    }
                }
            }
        )
    }

    getTop5();

</script>

{% endblock content %}