<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            charcoal: {
              900: '#0F1112',
              800: '#151718',
              700: '#181A1E',
              600: '#55565C',
            }
          }
        },
      }
    }
  </script>
  {% block meta %}
  {% endblock meta %}
  <link rel="shortcut icon" href="{% static 'img/ngetech_web_icon.png' %}" type="x-icon">
</head>

<body class="bg-charcoal-900">
  {% include 'navbar.html' %}
  {% block content %}
  {% endblock content %}
</body>

{% include 'footer.html' %}

</html>