{% load static %}
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {% tailwind_css %}
    {% block meta %}
    {% endblock meta %}
  </head>
  
  
  
<body class="bg-charcoal-900">
  {% include 'navbar.html' %}
  {% block content %}
  {% endblock content %}
</body>

{% include 'footer.html' %}

</html>