<nav
    class="px-2 sm:px-4 py-2.5 bg-charcoal-900 fixed w-full z-20 top-0 left-0 border-b border-gray-200 dark:border-gray-600">
    <div class="container flex flex-wrap justify-between items-center mx-auto">
        <a href="/" class="flex items-center">
            {% load static %}
            <img src="{% static 'img/ngetech_logo.png' %}" class="mr-3 h-6 sm:h-9" alt="Ngetech logo">
        </a>
        <div class="flex md:order-2">
            {% if not user.is_authenticated %}
            <a href="{% url 'main:login' %}">
                <button type="button"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-md text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Login
                </button>
            </a>
            {% else %}
            <ul class="list-none py-2 px-4 rounded-lg flex justify-center items-center bg-charcoal-800">
                <li>
                    <div id="avatarButton" class="flex flex-wrap items-center gap-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                            preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
                            <path fill="none"
                                d="M8.007 24.93A4.996 4.996 0 0 1 13 20h6a4.996 4.996 0 0 1 4.993 4.93a11.94 11.94 0 0 1-15.986 0ZM20.5 12.5A4.5 4.5 0 1 1 16 8a4.5 4.5 0 0 1 4.5 4.5Z" />
                            <path fill="#2563eb"
                                d="M26.749 24.93A13.99 13.99 0 1 0 2 16a13.899 13.899 0 0 0 3.251 8.93l-.02.017c.07.084.15.156.222.239c.09.103.187.2.28.3c.28.304.568.596.87.87c.092.084.187.162.28.242c.32.276.649.538.99.782c.044.03.084.069.128.1v-.012a13.901 13.901 0 0 0 16 0v.012c.044-.031.083-.07.128-.1c.34-.245.67-.506.99-.782c.093-.08.188-.159.28-.242c.302-.275.59-.566.87-.87c.093-.1.189-.197.28-.3c.071-.083.152-.155.222-.24ZM16 8a4.5 4.5 0 1 1-4.5 4.5A4.5 4.5 0 0 1 16 8ZM8.007 24.93A4.996 4.996 0 0 1 13 20h6a4.996 4.996 0 0 1 4.993 4.93a11.94 11.94 0 0 1-15.986 0Z" />
                        </svg>
                        <h2 class="font-semibold text-lg text-white">{{ user }}</h2>
                    </div>
                    <div id="userDropdown"
                        class="hidden absolute top-full right-0 -ml-4 z-50 my-4 text-base list-none bg-charcoal-700 rounded divide-y divide-gray-100 shadow">
                        <div class="px-4 py-2">
                            <span class="block text-sm text-gray-400 font-bold text-center">Status</span>
                            {% if user.is_superuser %}
                            <span class="block text-sm text-blue-500 font-bold text-center italic">Admin Ngetech</span>
                            {% else %}
                            <span class="block text-sm text-blue-500 font-bold text-center italic">User Ngetech</span>
                            {% endif %}
                        </div>
                        <ul class="p-2" aria-labelledby="user-menu-button">
                            <li>
                                <!-- <a href="" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100">Sign out</a> -->
                                <a href="{% url 'main:logout' %}">
                                    <div class="px-4 rounded divide-y bg-red-600">
                                        <h2 class="block py-2 px-4 text-sm text-white font-semibold">
                                            Logout
                                        </h2>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>

                </li>
            </ul>
            {% endif %}
            <button id="hamburger" data-collapse-toggle="navbar-sticky" type="button"
                class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                aria-controls="navbar-sticky" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                        clip-rule="evenodd"></path>
                </svg>
            </button>
        </div>
        <div class="menu hidden justify-between items-center w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
            <ul
                class="flex flex-col p-4 mt-4 bg-charcoal-900 rounded-lg border border-gray-100 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 ">
                <li>
                    <a href="{% url 'main:home' %}" id="home"
                        class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Home</a>
                </li>
                <li>
                    <a href="{% url 'tech_survey:show-tech-survey' %}"
                        class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Survey</a>
                </li>
                <li>
                    <a href="{% url 'top_5_post:show_top5_post' %}"
                        class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Top
                        #5</a>
                </li>
                <li>
                    <a href="{% url 'post-tech:show-post-tech' %}"
                        class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Post</a>
                </li>
                <li><a href="/discussion"
                        class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Forum</a>
                </li>
                <li>
                    <a href="{% url 'about-us:about-us' %}"
                        class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">About
                        Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>
    const hamburger = document.querySelector('#hamburger');
    const menu = document.querySelector('.menu');
    hamburger.addEventListener(
        'click',
        function () {
            menu.classList.toggle('hidden');
        }
    )

    const avatar = document.querySelector('#avatarButton');
    const avatarMenu = document.querySelector('#userDropdown');
    avatar.addEventListener(
        'click',
        function () {
            avatarMenu.classList.toggle('hidden');
        }
    )
</script>