{% load static %}
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% tailwind_css %}
  {% block meta %}
  {% endblock meta %}
</head>
<body class="bg-charcoal-900">
  <div class="flex justify-center items-center w-screen h-screen bg-charcoal-900">
    <div
        class="p-4 w-full max-w-sm bg-charcoal-900 rounded-lg border border-gray-200 shadow-md sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
        <form method="POST" action="" class="rounded px-4 pt-6 pb-8 dark:bg-gray-800 dark:border-gray-700">
            <h1 class="text-center my-4 bg text-xl font-bold text-blue-600 dark:text-gray-300">Register Account</h1>
            {% csrf_token %}
            <div class="mr-auto">
                <label for="username"
                    class="block mb-2 text-sm font-medium text-gray-400 dark:text-gray-300">Username</label>
            </div>
            <input type="text" name="username" placeholder="Username" required
                class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <div class="mt-4">
                <label for="password1"
                    class="block mb-2 text-sm font-medium text-gray-400 dark:text-gray-300">Password</label>
            </div>
            <input type="password" name="password1" placeholder="Enter a Password" required
                class="form-control bg-gray-50 border border-gray-300 text-gray-400 text-sm rounded-lg focus:ring-red-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <div class="mt-4">
                <label for="password2" class="block mb-2 text-sm font-medium text-gray-400 dark:text-gray-300">Confirm
                    Password</label>
            </div>
            <input type="password" name="password2" placeholder="Confirm Password" required
                class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            {% for message in messages %}
            <h1 class="text-sm text-red-500 mt-2">{{ message }}</h1>
            {% endfor %}
            <div class="mt-6">
                <button
                    class="btn login_btn w-full bg-blue-700 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="submit" value="Login">
                    Register
                </button>
            </div>
            <a href="{% url 'main:login' %}">
                <button type="button" onclick=""
                    class="mt-4 w-full bg-red-600 hover:bg-red-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Back
                </button>
            </a>
        </form>
    </div>
</div>

</body>

{% include 'footer.html' %}

</html>
